
.time_line_mian{
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 6.77vw;
}
.time_line_bg{
    flex:1 ;
    background-image: url('../../Resources/images/tile_line_bg.png'); 
    background-size: 100% 100%;
}
.timeLineBar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.timeLineText{
    font-size: 1.56vw;
    font-family: 'SourceHanSansCN';
    font-weight: 400;
    color: #FFFFFF;
}
.line_start{
    width: 2.86vw;
    height: 2.86vw;
    background: #037DEC;
    border-radius: 50%;
}
.timeLineTitle{
    font-size: 3.64vw;
    font-family: 'SourceHanSansCN';
    font-weight: bold;
    color: #FFFFFF;
    line-height: 3.64vw;
    text-align: center;
    margin-bottom: 2.86vw;
}
.line_start_line{
    width: 2px;
    height: 3.1vw;
    background-color: #fff;
    margin-right: 4px;
}
.line_start_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.86vw;
}
.timeLineBar img{
    width: 2.8vw;
}
